body{
  margin: 0 auto;
  width: 850px;
}
h3{margin: 0;}

.header{
  margin: 15px 0;
  padding: 15px;
  background-color: #dadade;
  color: #333390;
  text-align: right;
}
.main-div{
   display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.all{
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}
.one_day{  display: flex;
  flex-direction: column;
  margin: 0 5px;
  
}

.allDays{
  display: flex;
  margin: 0 10px ;

}

.time_from, .time_to{
  margin: 0 15px;
  font-size: 15px;
  height: 30px;
  width: 80px;
}

#add{
  width: 100px;
  margin-right: 15px;
 border: none;
 background-color: white;
  color: #333390;
  font-weight: 700;
 
}

#remove{
   margin-right: 15px;
  background-color: white;
  margin-left: 62px;
  border: none;
}

#submit{
  color: #333390;
  padding: 7px 10px;
   background-color: #dadade;
  font-size: 15px;
  font-weight: 600;
  border: #0b0b86;
  margin: 15px auto 0 auto;
  display: block;
}
.error{
  display: none;
  text-align: center;
  color: rgb(197, 33, 33);
   font-size: 15px;
 
}
.time_from, .time_to{
  cursor: pointer;
}

